@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;1,600&display=swap");
body {
  font-family: "Nunito", sans-serif;
  background-color: #eee;
}

.tab {
  display: flex;
  flex-direction: row;
}

.btn {
  text-decoration: none;
  color: black;
  border: none;
  background-color: #eee;
  width: auto;
  font-size: large;
}
.btn:hover {
  color: #c95c61;
}

#main h1,
h2,
h3,
h4 {
  color: #c95c61;
}
